<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <div class="mb-4"><h6>2024(FRONT END DEVELOPMENT)</h6>
            <h3 class="fw-semibold">DEPI</h3></div>
            <div class="mb-4">
                <h6>2017 - 2021 (MICROBIOLOGY/CHEMISTRY)</h6>
                <h3 class="fw-semibold">AIN-SHAMS University</h3>
            </div>
    
    


</div>
<div class="col-md-1"></div>
<div class="col-md-4">
    <div class="mb-">
        <h6>2024 (HTML and CSS Certification )</h6>
        <h3 class="fw-semibold">Mahara Tech</h3>
    </div>
    <div class="mb-4">
        <h6>2022 - 2023 (BIO CHEMISTRY DIPLOMA)</h6>
        <h3 class="fw-semibold">BENI-SEUIF University</h3>
    </div>


</div>

</div>
