body{
    background-color:rgba(1, 49, 95, 1);
    
}
app-navbar{
    position:fixed; 
    top: 0;
    left: 0;
     
}
svg{
    fill: #d7b65d;
    width:20px;
    height:20px;
    opacity: 0.5;
    margin-right: 15px;
    margin-bottom: 50px;
  }