<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
    <p>HTML and CSS</p>
    <div class="progress bg-light mb-3">
        <div class="progress-bar" role="progressbar" style="width: 80%; background-color:rgba(215, 182, 93, 1);" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <p>JS</p>
    <div class="progress bg-light mb-3">
        <div class="progress-bar " role="progressbar" style="width: 65%; background-color:rgba(215, 182, 93, 1);" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <p>bootstrap</p>
    <div class="progress bg-light mb-3">
        <div class="progress-bar " role="progressbar" style="width: 85%; background-color:rgba(215, 182, 93, 1);" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <p>
        Angular
    </p>
    <div class="progress bg-light mb-4">
        <div class="progress-bar " role="progressbar" style="width: 75%; background-color:rgba(215, 182, 93, 1);" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <p>typescript</p>
    <div class="progress bg-light mb-3">
        <div class="progress-bar " role="progressbar" style="width: 65%; background-color:rgba(215, 182, 93, 1);" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
    </div>


</div>
<div class="col-md-1"></div>
<div class="col-md-3">
    <p>Team Collaboration</p>
    <div class="progress bg-light mb-3">
        <div class="progress-bar" role="progressbar" style="width: 90%; background-color:rgba(215, 182, 93, 1);" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <P>Problem-Solving</P>
    <div class="progress bg-light mb-3">
        <div class="progress-bar" role="progressbar" style="width: 85%; background-color:rgba(215, 182, 93, 1);" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <P>Flexibility</P>
    <div class="progress bg-light mb-3">
        <div class="progress-bar" role="progressbar" style="width: 88%; background-color:rgba(215, 182, 93, 1);" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <P>	Time Management</P>
    <div class="progress bg-light mb-3">
        <div class="progress-bar" role="progressbar" style="width: 80%; background-color:rgba(215, 182, 93, 1);" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

</div>

</div>