.row{
    height: 100%;
    width: 100%;
}
.main-photo{ 
    height: 100vh;
    background-image: url("c:/Users/youssef/Downloads/WhatsApp_Image_2024-10-12_at_2.39.35_PM-removebg-preview.png");
    background-position-x: 500px;
    background-position-y:0px ;
    background-size:contain;
    background-repeat: no-repeat;
}
.content{
    display: flex;
    align-items: center;
   
}