
    <div id="home" >
        <div class="row main-photo">
            <div class="col-md-1">
        
            </div>
            <div class="col-md-7 content">
                <div >
                    <h3 class="fw-bold">hello, I am Yasmin</h3>
                    <h5 class="fw-bold">i am a front end angular developer</h5>
    
                </div>
                
            </div>
            <div class="col-md-4">
               
            </div>
        </div>
        
    </div>
    
    <app-about></app-about>
    <app-servises></app-servises>
    <app-works></app-works>
    <app-note></app-note>
    <app-contact></app-contact>


   