<div id="works">
    <div class="text-center mt-5 mb-5 fw-bold title"> <h2>MY LATEST WORKS</h2> </div>
    <div class="row">
        <div class="col-md-4 PORTFOLIO">
            <h3 >PORTFOLIO</h3>
        </div>
        <div class="col-md-7 LEARNING ">
            <h3>E-LEARNING Website</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 rock "><h3>rock-paper-scissor game</h3> </div>
        <div class="col-md-4 simple "> <h3> simple-calculator </h3></div>
        <div class="col-md-4 TO "> <h3>TO-DO-LIST </h3></div>
    </div>
</div>
